/*Paleta de Colores*/
:root {
    --negro: #000000;
    --azuloscuro: #14213D;
    --naranja: #FCA311;
    --ghost-white: #E5E5E5;
    --blanco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #E5E5E5;
    color:#000000;
    padding: 20px;
}

nav{background-color: #14213D;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a:hover{
    background-color: #FCA311;
    border-radius: 5px;
}

header{
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5em;
    color: #14213D;
    text-align: center;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #14213D;
    text-align: center;
    margin-top: 10px;
}

section.IntentoCarrusel button{
    background-color: #14213D;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

section.IntentoCarrusel button:hover{
    background-color: #FCA311;
}

section.IntentoCarrusel img{
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}